*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.bg-image {
    background-image: url(https://i.postimg.cc/5NYpnw4H/pexels-dynamic-wang-7582107.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    font-size: 130px;
    padding-right: 50px;
}
.half {
    color: rgb(192, 188, 188);
}
.half2 {
    color: rgba(0, 0, 0, 0.89);
}
.slogan {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: center;
    padding-top: 270px;
    padding-left: 11px;
}
.nav-item {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 20px;
}
.nav-item:hover {
    text-decoration: underline;
}


/* Welcome */
.welcome {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.89) , rgb(192, 188, 188));
}
.welcome1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 4rem;
    padding-top: 120px;
}
.WelcomeMessage {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 100px;
}

/* footer */
footer {
    background-color:  rgb(192, 188, 188);
}


/* CARD */
.ArtGallery {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 4rem;
}
.card-body {
    box-shadow: 0 0 20px 7px black;
    padding-top: 2rem;
  }
  .card {
    overflow: hidden;
  }
  img {
    object-fit: cover;
    aspect-ratio: 3/4;
    filter: grayscale(100%);


  }
  img:hover {
    transform: scale(1.1);
    transition: transform .7s;
}

.price {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: large;
    font-weight: 500;
}
h5 {
    font-family: 'Frank Ruhl Libre', serif; 
    font-size: x-large;
    font-weight: 900;
}

.Purchase {
    color: black;
}

.Purchase:hover {
    color: rgb(153, 153, 153);
}

.dropdown {
    display: inline;
}
